<!DOCTYPE html>
<html>
<head>
  <title>Booktastic</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="wrapper">
	<header>
		<h1>Booktastic</h1>
		<nav>
			<ul>
				<li><%= link_to "New Bookmark", new_bookmark_path %></li>
				<li><%= link_to "Home", root_path %></li>
			</ul>
		</nav>
	</header>
	<section id="content">
		<%= render_flash %>
		<%= yield %>
	</section>
</div>
<%= javascript_include_tag :defaults %>
<%= yield :script %>
</body>
</html>
