<!DOCTYPE html>
<html>
<head>
  <title>Booktastic</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="wrapper">
	<header>
		<h1>Booktastic</h1>
	</header>
	<section id="content">
		<%= yield %>
	</section>
</div>
<%= javascript_include_tag :defaults %>
<%= yield :script %>
</body>
</html>
